{% extends 'blog/base.html' %}
{% block content %}
	<canvas id="pie-chart" width="800" height="400"></canvas>
	<script>
		new Chart(document.getElementById("pie-chart"), {
		    type: 'pie',
		    data: {
		      labels: ["Bug'doy", "Guruch", "Yog'", "Shakar mahsulotlari", "Sabzi"],
		      datasets: [{
		        label: "2022-yilda O'zbekistonda oziq-ovqat mahsulotlariga extiyoj(millions)",
		        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
		        data: [56, 24, 7, 7, 4]
		      }]
		    },
		    options: {
		      title: {
		        display: true,
		        text: "2022-yilda O'zbekistonda oziq-ovqat mahsulotlariga extiyoj (foiz)"
		      }
		    }
	});

	</script>
{% endblock content %}